extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 William Chance

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I am on a neverending journey to grow and develop as a web developer.

          p I started this journey in 2016 when I started taking courses on freecodecamp.com so that I could help a friend build a simple website for his father's small business. The deep interest in coding sparked here led me to additional courses and small personal and professional projects across the years. 

          p These projects include using my HTML/CSS skills to develop university learning courses for my students, building a cryptocurrency arbitrage alert app in Android Studio that utilized API pulls from CEXs, and launching a customized WordPress site to help sell a luxury condo in Bangkok. 

          p The current step in my journey is moving to web development as a career. As part of this step, I am an active student in the Full-Stack JavaScript program at Team Treehouse. As part of this program, I completed fully functioning applications using node.js, express, HTML forms, JS objects, API fetch requests, pug views, and many other development tools. Building these applications has helped me learn new skills and deepen my understanding of the tools and best practices needed to be a professional developer.
          
          p Through studying in formalized development courses and building full-stack projects, I have developed the technical skills necessary to be a productive and valuable junior member of a production team. I am currently looking for the right team to join!



      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 555-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.social-link.boxShadow(href='https://www.linkedin.com/in/williammchance/' target="_blank") 
          img.thumbnail(src=`/static/images/LI-logo.png`, alt=`linkedin logo`)
        a.social-link.boxShadow(href='https://github.com/Wmchance' target="_blank")
          img.thumbnail(src=`/static/images/GitHub_Logo.png`, alt=`Github logo`)
          img.thumbnail(src=`/static/images/GitHub-Mark-32px.png`, alt=`Github logo`)
        a.social-link.boxShadow(href='https://twitter.com/OakedDbl' target="_blank")
          img.thumbnail(src=`/static/images/twitter-logo.png`, alt=`twitter logo`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back