extends layout.pug

block content

  article.portfolio-intro

    h1 Portfolio Projects
 
    p As part of my journey to become a web development professional, I am actively building projects which utilize modern full-stack tools and technologies. 
    p I have built this portfolio website so that, as I complete working versions of the projects, I can host them here. As I gain new skills, this site will provide a repository to which I can return and apply those skills through the refactoring of previously completed projects. 
    p Additionally, this will serve as a centralized location for others to view the projects that I have completed and gain insight into my technical skills. Below is an index of some of my currently completed and accessable projects. By clicking on the projects, you will be taken to a details page for the project, which will provide further insight into the languages/tools used in its creation and links to the associated GitHub repo and live demo. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
 
      each project in projects

        .cell.boxShadow 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name 

