<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile.jpeg', alt='profile picture')
        .dev-intro-box

          h5 William Chance

          p I never stop learning, and I love to build.
          p Technology and learning have always been at the core of my life. These dual passions led me to receive a bachelor of Science, complete web development courses throughout the years, and receive a master's of education.
          p Having completed my master's degree, I am now focused on completing formalized web development and coding programs so that I can develop professional development skills. 
          p With the skills I have in education and the skills I am expanding in programming, I can be a valuable member of any technology, education, or EdTech team.
          
          a(href='/about') Learn More &rarr;
        
        div.dev-logo-box
          img.thumbnail.circle(src='/static/images/logo.png', alt='light bulb & computer logo')

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span William Chance

      block content

  script(src='/static/js/script.js')